@* 
    Partial view for rendering the Recycle Bin button.
    This view is only shown if the user has the correct permissions (handled in the C# class).
*@
<a asp-action="Deleted" class="btn btn-outline-secondary ms-2">
    <i class="fas fa-trash-restore"></i> Recycle Bin
</a>